/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
}

#container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

#container h1 {
    color: aqua;
}

header {
    background-color: chartreuse;
    color: black;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

nav {
    background-color: white;
    color: black;
    padding: 35px;
    text-align: center;
    margin-bottom: 30px;
    clear: both; 
}


nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px; 
}


nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    background-color: lightgray;
    border-radius: 5px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: gray;
    color: white;
}

main {
    background-color: chocolate;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

main h3 {
    color: red;
    text-transform: uppercase;
    margin-bottom: 10px;
}

footer {
    background-color: purple;
    color: white;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

footer h1 {
    color: aqua;
}

/* Estilizando imagens */
.Logo {
    width: 150px;
}

.foto1 {
    width: 100px;
}

.foto2 {
    width: 150px;
}

.foto3 {
    width: 300px;
    margin-top: 20px;
}

.foto4 {
    width: 250px;
}

.foto5 {
    width: 250px;
}

.separador {
    height: 20px; /* Ajuste o valor conforme necessário */
}
